<ion-view view-title="Dashboard" ng-controller="ListController" class="">
  
        <div class="bar bar-subheader item-input-inset bar-light">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="Search">
          </label>
        </div>

  <ion-content ng-controller="ListController" class="has-subheader">
          
    <ion-list>
      <ion-item  ng-repeat="item in artists | filter: query" class="item-thumbnail-left item-text-wrap" >
        <img src="http://placehold.it/100X100">
        <h2>{{item.name}}</h2>
        <h3>{{item.reknown}}</h3>
        <p>{{item.bio | limitTo: 100}}{{item.bio.length > 150 ? '&hellip;' : ''}}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
