<ion-view view-title="Dashboard" class="">
  <div class="bar bar-subheader">
        <h2 class="title">Sub Header</h2>
  </div>
  <ion-content class="padding has-subheader">
        <p class="has-subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies elit sit amet ornare fringilla. Proin porta rhoncus ante, sed consequat augue tincidunt sit amet. Sed at lorem ligula. Nulla sed faucibus est. Morbi gravida enim sem, ac lobortis turpis laoreet quis. Sed bibendum vel nisl at sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi non lacus lectus. Suspendisse potenti. Quisque faucibus nec nunc sed sagittis. Etiam suscipit scelerisque sapien vel pharetra. Etiam tortor ligula, blandit nec aliquet non, luctus vel urna. Sed id tortor accumsan, pretium dolor ultricies, aliquet neque. Fusce tempus magna sit amet eros dictum faucibus. Phasellus tincidunt porta erat, et iaculis est. Aenean sagittis tellus velit, et commodo nibh dictum ne
        </p>

        <div class="button-bar">
          <button class="button button-positive icon icon-left ion-social-twitter">Twitter</button>
          <button class="button button-positive icon icon-left ion-social-facebook">Facebook</button>
          <button class="button button-positive icon icon-left ion-social-youtube">YouTube</button>
        </div>

        <div class="list">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-email"></i>
            Check Mail
          </a>
          <a href="#" class="item item-icon-left item-icon-right">
            <i class="icon ion-chatbubble-working"></i>
            Item 02
            <i class="icon ion-ionic"></i>
          </a>
          <a href="#" class="item item-icon-left">
            <i class="icon ion-mic-a"></i>
            Item 03
            <span class="item-note">Record</span>
          </a>
          <a href="#" class="item">
            Item 04
            <span class="badge badge-energized">6</span>
          </a>
          <a href="#" class="item item-button-right">
            Item 05
            <button class="button button-assertive">
              <i class="icon ion-mic-a"></i>
            </button>
          </a>
          <a href="#" class="item item-avatar">
            <img src="http://placehold.it/100X100">
            Item 06
          </a>
          <a href="#" class="item">Item 07</a>
          <a href="#" class="item">Item 08</a>
          <a href="#" class="item">Item 09</a>
          <a href="#" class="item">Item 10</a>
          <div class="item item-divider">Headline 1</div>
          <a href="#" class="item">Item 12</a>
          <a href="#" class="item">Item 13</a>
          <a href="#" class="item">Item 14</a>
          <a href="#" class="item">Item 15</a>
        </div>

  </ion-content>
</ion-view>
