<ion-view view-title="Dashboard" class="">
  <div class="bar bar-subheader">
        <h2 class="title">Sub Header</h2>
  </div>
  <ion-content class="padding has-subheader">
        <p class="has-subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies elit sit amet ornare fringilla. Proin porta rhoncus ante, sed consequat augue tincidunt sit amet. Sed at lorem ligula. Nulla sed faucibus est. Morbi gravida enim sem, ac lobortis turpis laoreet quis. Sed bibendum vel nisl at sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi non lacus lectus. Suspendisse potenti. Quisque faucibus nec nunc sed sagittis. Etiam suscipit scelerisque sapien vel pharetra. Etiam tortor ligula, blandit nec aliquet non, luctus vel urna. Sed id tortor accumsan, pretium dolor ultricies, aliquet neque. Fusce tempus magna sit amet eros dictum faucibus. Phasellus tincidunt porta erat, et iaculis est. Aenean sagittis tellus velit, et commodo nibh dictum ne
        </p>

        <div class="button-bar">
          <button class="button button-positive icon icon-left ion-social-twitter">Twitter</button>
          <button class="button button-positive icon icon-left ion-social-facebook">Facebook</button>
          <button class="button button-positive icon icon-left ion-social-youtube">YouTube</button>
        </div>
  </ion-content>
</ion-view>
